*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    min-height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(images/background1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 2%;
    justify-content: space-between;
    align-items: center;
}
nav a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
}
nav .fa-solid{
    display: none;
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 34px;
    font-size: 25px;
    background: transparent;
    position: relative;
}
.btn:hover{
    boarder: 2pc solid #f99200;
    background: #f99200;
    transition: 1s;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul{
    list-style: none;
    display: inline-flex;
}
.nav-links ul li{
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}
.submenu-1{
    display: none;
}
.submenu-1 ul li a{
    font-size: 20px;
}
.nav-links ul li:hover .submenu-1
{
    display: flex;
    position: absolute;
    margin-top: 5px;
    margin-left: -5px;
}
.nav-links ul li:hover .submenu-1 ul
{
    display: block;
    padding-left: 25px;
}
.nav-links ul li:hover .submenu-1 ul li
{
    text-align: center;
    padding-top: 0px;
}
.submenu-2{
    display: none;
}
.submenu-2 ul li a{
    font-size: 20px;
}
.nav-links ul li:hover .submenu-2
{
    display: flex;
    position: absolute;
    margin-top: 5px;
    margin-left: -5px;
}
.nav-links ul li:hover .submenu-2 ul
{
    display: block;
    padding-left: 25px;
}
.nav-links ul li:hover .submenu-2 ul li
{
    text-align: center;
    padding-top: 0px;
}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 3px;
    background: #f99200;
    display:block;
    margin:auto;
    transition: 1s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.searchbox{
    padding-right: 20px;
    padding-top: 4px;
}
.searchbox input{
    padding-bottom: 10px;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 30px;
}
.searchbox button{
    border-radius: 50%;
    background: #f99200;
    height: 50px;
    width: 50px;
}
.introduction{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.introduction h1{
    font-size: 40px;
}
.introduction p{
    margin: 10px 250px 40px;
    font-size: 25px;
    color: #fff;
}
.introduction a{
    font-size: 25px;
    color: #fff;
}
.introduction img{
    padding-top: 10px;
    width: 40%;
    border-radius: 50px;
}
.content{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(images/background2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    color: #fff;
}
.content h1{
    font-size: 40px;
}
.instruction{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.instruction-column{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 50px 70px;
}
.instruction-column h3{
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
}
.instruction-column p{
    text-align: center;
    font-size: 20px;
}
.instruction-column img{
    width:70%;
    border-radius: 50px;
}
.video{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(images/background3.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin: auto;
    text-align: center;
    padding-top: 70px;
    color: #fff;
}
.video h1{
    font-size: 40px;
}
.video p{
    margin: 10px 10px;
    font-size: 25px;
    color: #fff;
}
.video a{
    font-size: 25px;
    color: #fff;
}
.video video{
    width: 60%;
    position: relative;
    padding-top: 3%;
}
.icon{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
@media(max-width:800px){
    .nav-links{
        position: absolute;
        background: #f99200;
        height: 100vh;
        width: 180px;
        top: 0;
        right: -180px;
        text-align: center;
        z-index: 2;
        transition: 1s;
    }
    .nav-links ul{
        list-style: none;
        display: inline-block;
    }
    .nav-links ul li{
        padding: 8px 12px;
        position: relative;
    }
    .nav-links ul li{
        display: block;
    }
    nav .fa-solid{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul li::after{
        background: #fff;
    }
    .nav-links ul li a{
        font-size: 18px;
    }
    .nav-links ul li:hover .submenu-1
    {
        display: none;
    }
    .nav-links ul li:hover .submenu-2
    {
        display: none;
    }
    .searchbox{
        padding-right: 0px;
        padding-top: 0px;
    }
    .searchbox input{
        font-size: 18px;
        width:80%;
    }
    .searchbox button{
        background: #fff;
        height: 40px;
        width: 40px;
    }
    .instruction{
        flex-direction: column;
    }
    .introduction h1{
        font-size: 27px;
    }
    .introduction p{
        font-size: 22px;
        margin: 10px 10px 40px;
    }
    .introduction a{
        font-size: 22px;
    }
    .introduction img{
        width: 80%;
    }
    .content h1{
        font-size: 27px;
    }
    .instruction-column h3{
        font-size: 27px;
    }
    .instruction-column p{
        margin: 10px 0;
        font-size: 22px;
    }
    .instruction-column img{
        width:50%
    }
    .video h1{
        font-size: 27px;
    }
    .video p{
        font-size: 22px;
    }
    .video a{
        font-size: 22px;
    }
    .video video{
        width: 70%;
    }
}
@media(max-width:400px){
    .btn{
        padding: 10px 10px;
        font-size: 22px;
    }
    .introduction{
        top: 60%;
    }
    .introduction h1{
        font-size: 22px;
    }
    .introduction p{
        font-size: 15px;
        margin: 10px 5px 40px;
    }
    .introduction a{
        font-size: 15px;
    }
    .introduction img{
        width: 80%;
        border-radius: 30px;
    }
    .content h1{
        font-size: 22px;
    }
    .instruction{
        flex-direction: column;
    }
    .instruction-column h3{
        font-size: 22px;
    }
    .instruction-column p{
        margin: 10px 0;
        font-size: 18px;
    }
    .instruction-column img{
        width:100%
    }
    .video h1{
        font-size: 22px;
    }
    .video p{
        font-size: 15px;
    }
    .video a{
        font-size: 15px;
    }
    .video video{
        width: 80%;
    }
    .icon{
        padding-top: 10px;
    }
}
